<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
  <style>
    /* 별평점 기본효과 스타일 */
    p#star_rev_rate a.rev_rate {
      font-size: 22px;
      text-decoration: none;
      color: lightgray;
    }

    /* 별평점에 클릭했을 경우 선택자 */
    p#star_rev_rate a.rev_rate.on {
       color: black;
    }

  </style>
  
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
</th:block>    
<th:block layout:fragment="script">
  <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
  <script>
  
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script id="templateReview" type="text/x-handlebars-template">
    <table class="table" id="reviewTable">
      <tbody>
        {{#each .}}
        <tr>
        <td>{{rev_code}}</td>
        <td>{{m_id}}</td>
        <td>{{rev_content}}</td>
        <td>{{displayStar rev_rate}}</td>
        <td>{{convertDate rev_date}}</td>
        <td>
          {{authControlView m_id rev_code}}         
        </td>
        </tr>
        {{#if replies.length}}
        {{#each replies}}
        <tr>
          <td colspan="6">[관리자] 답변글 : {{reply_text}} 작성일 : {{convertDate reply_date}}</td>
        </tr>
        {{/each}}
        {{/if}}
        {{/each}}
      </tbody>
      </table>

  </script>
  
  <!-- 자바스크립트에서 타임리프 문법을 사용할 때 아래와 같이 작성한다. -->
  <script th:inline="javascript">
  // 핸들바 템플릿에서 사용자정의 함수 : 후기작성시간 포맷(형식) 2025/01/06 11:55:30
  Handlebars.registerHelper("convertDate", function(reviewDate) {// Handlebars의 사용자 정의 함수를 만드는 방법"템플릿에서 호출할 수 있는 헬퍼 함수"
    const date = new Date(reviewDate);

    let month = (date.getMonth()+1 < 10 ? "0" + (date.getMonth()+1) : date.getMonth()+1);
    let day = (date.getDate() < 10 ? "0" + (date.getDate()) : date.getDate());
    let hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
    let minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
    let second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
    return date.getFullYear() + "/" + month + "/" + day + " " + hour + ":" + minute + ":" + second;
  });
  
  // 핸들바 템플릿 사용자정의 함수 : 로그인사용자와 후기작성자(msbp_id)가 동일할 때만 수정,삭제 버튼표시
  Handlebars.registerHelper("authControlView", function(m_id, rev_code) {
    
    // console.log("작성자", m_id);
    // console.log("상품후기코드", rev_code);
    
    // 로그인사용자 : 세션으로 확인
    
    let memberVo = [[${session.login_auth}]];

    let loginId = "";
    
    if(memberVo !== null) { // 로그인 상태이면
      loginId = [[${session.login_auth == null? '' : session.login_auth.m_id}]];
    }// login_auth == null이면 '', 아니면 session.login_auth.m_id이 loginId에 할당됨
    
    // loginId = [[${session.login_auth == null? '' : session.login_auth.m_id}]];


    console.log("아이디", loginId);
    
 	// 후기평점을 이용한 별표시 핸들바 사용자정의 함수
    Handlebars.registerHelper("displayStar", function(rating) {
      let star = "";
      switch(rating) {
        case 1:
          star = "★☆☆☆☆";
          break;
        case 2:
          star = "★★☆☆☆";
          break;
        case 3:
          star = "★★★☆☆";
          break;
        case 4:
          star = "★★★★☆";
          break;
        case 5:
          star = "★★★★★";
          break;
      }
      return star;
    });


    
    
    
  });
  
  
  </script>
    
    
    
    
    
    
    
    
    
    
    
    
</th:block>

<th:block layout:fragment="content">
	<div class="row">
    <div class="col text-center mb-3 mt-3">
      <h3 th:utext="${cate_name}"></h3>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">        
    <div class="col-6">
      <img style="width: 100%;height: 225px;" th:src="${'/product/image_display?dateFolderName=' + productVO.pro_up_folder + '&fileName=' + productVO.pro_img}">
    </div>
    <div class="col-6">
      <h5 th:text="${productVO.pro_name}"></h5>
      <div class="mt-3">할인율 <span th:text="${productVO.pro_discount}"></span></div>
      <div class="mt-3">판매가격 <span>[[${#numbers.formatInteger(productVO.pro_price, 3, 'COMMA') + '원'}]]</span></div>
      <div class="mt-3">제조사 <span th:text="${productVO.pro_publisher}"></span></div>
      <div class="mt-3">수량 <input type="number" value="1" id="cart_amount"></div>
      <div class="d-flex justify-content-between align-items-center mt-5">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" id="btn_cart_add">Cart</button> 
          <button type="button" class="btn btn-outline-primary" id="btn_buy_add">Buy</button>
        </div>
        <small class="text-body-secondary">상품후기 :   <span id="review_count" th:text="${productVO.pro_review}"></span></small>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">상세정보</a></li>
        <li><a href="#tabs-2">리뷰</a></li>
        <li><a href="#tabs-3">QnA</a></li>
      </ul>
      <div id="tabs-1">
        <p>상세내용</p>
        <p th:utext="${productVO.pro_content}"></p>
      </div>
      <div id="tabs-2">
        <div class="row mt-3 mb-3">
          <div class="col-10">
            <textarea class="form-control" id="rev_content" rows="3"></textarea>
          </div>
          <div class="col-2">
            <p id="star_rev_rate">
              <a class="rev_rate" href="#">☆</a>
              <a class="rev_rate" href="#">☆</a>
              <a class="rev_rate" href="#">☆</a>
              <a class="rev_rate" href="#">☆</a>
              <a class="rev_rate" href="#">☆</a>
              (별평점)
            </p>
            <button type="button" class="btn btn-primary mb-2" id="btn_rev_save" th:data-pro_num="${productVO.pro_num}">후기 작성하기</button>
          </div>
        </div>
        <div class="row">
          <!-- 상품후기목록이 출력되는 위치 -->
          <div class="col" id="reviewList"></div>
        </div>
        <div class="row">
          <!-- 상품 페이지 출력되는 위치 [prev] 1 2 3 4 5 [next]-->
          <div class="col" id="reviewPaging"></div>
        </div>
      </div>
      <div id="tabs-3">
        <p>QnA</p>
      </div>
    </div>
  </div>
  <script>

    $(document).ready(function() {

      // 장바구니 클릭이벤트.  id="btn_cart_add"
      $("#btn_cart_add").on("click", function() {
        //console.log("장바구니 클릭");

        $.ajax({
          url: '/cart/cart_add',
          type: 'post',
          data: {pro_num: [[${productVO.pro_num}]], cart_amount : $("#cart_amount").val()},
          dataType: 'text',
          success: function(result) {
            if(result == "success") {
              alert("장바구니에 등록되었습니다.");
              if(confirm("장바구니로 이동하시겠습니까?")) {
                location.href = "/cart/cart_list";
              }
            }
          }, 
          beforeSend : function(xhr) {// xhr : AJAX 요청을 관리하는 객체
        	xhr.setRequestHeader("AJAX","true");// "AJAX"라는 이름의 헤더를 "true"라는 값으로 추가
          },
          error: function(xhr, status, error) { //스프링에서 응답된 정보중에 에러코드가 존재하면
            console.log(xhr);
          	alert("인증되지 않은 상태입니다. 로그인 페이지로 이동됩니다.");
          	location.href = "/member/login";
          }
        });
      });

      // 구매 클릭이벤트.  id="btn_buy_add"  `` (string template) : 백틱안에 문자열과변수를 함께 사용할수 있는 문법
      $("#btn_buy_add").on("click", function() {
          let cart_amount = $("#cart_amount").val();
          // 상품코드(pro_num), 수량(cart_amount)
          let url = `/order/order_info?pro_num=[[${productVO.pro_num}]]&cart_amount=${cart_amount}&type=buy`;

          //console.log("url", url);
          location.href = url;
      });
      
   	// 상품후기저장 클릭이벤트.  id="btn_rev_save"
      $("button#btn_rev_save").on("click", function() {
        let pro_num = $(this).data("pro_num"); // 상품코드
        let rev_content = $("#rev_content").val(); // 상품평
        let rev_rate = 0; // 별평점

        // <a class="rev_rate on">★</a> 태그에 class="rev_rate on" 이 개수가 몇개인지 체크
        $("p#star_rev_rate a.rev_rate").each(function() {
          if($(this).attr("class") == "rev_rate on") {
            rev_rate += 1;
          }
        })

        if(rev_content == "") {
          alert("후기 평을 작성해주세요");
          return;
        }

        if(rev_rate == 0) {
          alert("별 평점을 선택하세요.");
          return;
        }
        // REST API 개발방법론 : 서버와클라이언트가 데이타를 JSON포맷으로 주고 받는 특징. https://junvelee.tistory.com/107
        // 데이타 : 자바스크립트 object문법
        let review_data = {pro_num : pro_num, rev_content : rev_content, rev_rate : rev_rate};

        $.ajax({
          url : '/review/review_save',
          type: 'post',
          headers: {
            "Content-Type" : "application/json", "X-HTTP-Method-Overrid" : "POST"
          },
          data : JSON.stringify(review_data), // object문법을 json문자열로 변환
          dataType: 'text',
          success: function(review_count) {
            if(review_count > 0) {
              alert("상품후기 등록됨");

              // 리뷰카운트 보여주기.  id="review_count"
              $("span#review_count").html(review_count);

              reviewPage = 1;
              getPage(url);
            }
          }
        });
      });
   	
      // 별평점 클릭 이벤트일때 스타일 효과
      $("p#star_rev_rate a.rev_rate").on("click", function(e) {
       
        e.preventDefault();
        // 기존에 적용했던 a태그(별)들의 on 클래스선택자 제거
        $(this).parent().children().removeClass("on");
        // 선택한 a태그 자신에 on 클래스선택자 적용하고, 이전 a태그(이전 별들)에게도 on 클래스선택자 적용
        $(this).addClass("on").prevAll("a").addClass("on");
      })
      
      
      

    }); // ready event end

  </script>
</th:block>
</html>