<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmetic.shop.order.OrderMapper">

	<insert id="order_insert" useGeneratedKeys="true" keyProperty="ord_code">
	
		insert into 
			order_tbl
				(m_id, ord_name, ord_addr_zipcode, ord_addr_basic, ord_addr_detail, ord_tel, ord_mail, ord_price)
			values
				(#{m_id}, #{ord_name}, #{ord_addr_zipcode}, #{ord_addr_basic}, #{ord_addr_detail}, #{ord_tel}, #{ord_mail}, #{ord_price})
				
	</insert>
	<!-- useGeneratedKeys="true" : auto_increment 자동 증가 값를 반환받겠다
	keyProperty="ord_code": 생성된 키 값이 OrderVO 객체의 ord_code 속성에 할당
	ord_code는 없다가 주문하기 인서트하면 자동으로 생김 -->

	<select id="order_detail_insert" parameterType="map">
	
		insert into 
			ordetail_tbl 
		select 
			#{ord_code}, c.pro_num ,c.cart_amount ,p.pro_price 
		from 
			cart_tbl c
		inner join 
			product_tbl p
		on 
			c.pro_num = p.pro_num 
		where 
			c.m_id = #{m_id};
	
	</select>
	<!-- 
	"map" : 파라미터를 전달할 때
	"HashMap" : 쿼리 결과를 받을 때.
				쿼리에서 반환된 여러 컬럼을 키-값 쌍으로 반환하기 위해 사용-->
				
	<select id="getOrdInfoByOrd_code" resultType="HashMap">
	
		select 
			ot.ord_code ,pt.pro_up_folder ,pt.pro_img ,pt.pro_name ,ot.dt_amount ,ot.dt_price ,pt2.payment_status 
		from 
			ordetail_tbl ot 
		inner join 
			product_tbl pt 
		on 
			ot.pro_num = pt.pro_num 
		inner join 
			payment_tbl pt2 
		on 
			pt2.ord_code = ot.ord_code 
		where 
			ot.ord_code = #{ord_code}
	
	</select>	
	
	<select id="getOrderInfoByUser_id" resultType="HashMap">
	
		select 
			o.ord_code, o.ord_regdate, pt.pro_up_folder, pt.pro_img, pt.pro_name, odt.pro_num, odt.dt_price , odt.dt_amount, payt.payment_status 
		from 
			order_tbl o 
		inner join 
			ordetail_tbl odt 
		on 
			o.ord_code = odt.ord_code 
		inner join 
			product_tbl pt 
		on 
			odt.pro_num  = pt.pro_num 
		inner join 
			payment_tbl payt
		on 
			odt.ord_code = payt.ord_code
		where 
			o.m_id = #{m_id}
		order by
			o.ord_regdate desc
		limit 
			#{cri.pageStart}, #{cri.perPageNum}
	
	</select>		
	
	<select id="getOrderCountByUser_id" resultType="int">
	
		select 
			count(*)
		from 
			order_tbl o 
		inner join 
			ordetail_tbl odt 
		on 
			o.ord_code = odt.ord_code 
		inner join 
			product_tbl pt 
		on 
			odt.pro_num  = pt.pro_num 
		inner join 
			payment_tbl payt
		on 
			odt.ord_code = payt.ord_code
		where 
			o.m_id = #{m_id}
	
	</select>












</mapper>