<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cosmetic.shop.review.ReviewMapper">

	<insert id="review_save">
	
		insert into 
			review_tbl(m_id,pro_num,rev_content,rev_rate)
		values
			(#{m_id},#{pro_num},#{rev_content},#{rev_rate})	
			 
	</insert>
























</mapper>