<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">Place sticky footer content here.</span>
 
  <div class="row mt-5">
    <div class="col">
    <p style="font-size: 14px;color: silver;">(주)마녀공장</p>
    <p style="font-size: 14px;color: silver;">대표 :유근직 | 주소 서울특별시 강서구 공항대로 518 마녀공장 | 사업자등록번호 :108-86-00365 </p>
    <p style="font-size: 14px;color: silver;">통신판매업신고번호 :제2022-서울강서-3344호 | 개인정보보호책임자 : 최진호 | 메일 :manyofactory_cs@manyo.co.kr | 고객센터 :02-6013-0855 | 팩스번호 :02-6280-0829</p>
    <p style="font-size: 14px;color: silver;">COPYRIGHT © MANYOFACTORY ALL RIGHTS RESERVED.</p>
    <p style="font-size: 14px;color: silver;">안전거래를 위해 (주)이니시스의 구매안전(에스크로)에 가입하여 서비스를 제공하고있습니다.</p>
    <p class="float-end"><a href="#">Back to top</a></p>
    </div>
    </div>
  </div>
</footer>
</th:block>
</html>
