<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<header data-bs-theme="dark">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cosmetic shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <th:block th:if= "${session.login_auth == null}">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/join">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/login">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">장바구니</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">주문배송</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">고객센터</a>
          </li>
          </th:block>
          <th:block th:if="${session.login_auth != null}">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/logout">로그아웃</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/mypage">마이페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/member/modify">회원수정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">장바구니</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">주문배송</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">고객센터</a>
          </li>
        </th:block>
        
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>








</th:block>
</html>